{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/nav_ext.css' %}">
</head>

<body>
    <div id="nav" class="a">
        <div id="title">
            <a href="{% url 'main_app:index' %}"><p>Omega bookstore</p></a>
        </div>
        <div id="nav-options">
            <a  href="{% url 'main_app:products' %}"><p>Products</p></a>
            
            <a href="{% url 'main_app:contact' %}"><p>Contact</p></a>
        </div>
        
        <div id="user">
            <a href="{% url 'users_app:user_index' %}"><p>
                {{data}}
                {% if request.user.is_authenticated %}
                My account
                {% else %}
                Log in
                {% endif %}
            </p></a>
        </div>
    </div>

    {% block content %}{% endblock %}
    
    <div id="footer" class="b">
        <p>Omega bookstore @ Copyright</p>
        <a style="color: antiquewhite;" href="{% url 'main_app:contact' %}"><p>Contact us</p></a>
    </div>
    <div id="filler" class="b">
       <p></p>
    </div>
    
    
</body>
</html>