<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="nav_ext.css">
</head>


<body>
    <div id="nav" class="a">
        <div id="title">
            <a href=""><p>Omega bookstore</p></a>
        </div>
        <div id="nav-options">
            <a  href=""><p>Products</p></a>
            
            <a href=""><p>Contact</p></a>
        </div>
        <div id="user">
            <p>Login</p>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div id="footer" class="b">
        <p>Omega bookstore @ Copyright</p>
        <a style="color: antiquewhite;" href="contact.html"><p>Contact us</p></a>
    </div>
    <div id="filler" class="b">
       <p></p>
    </div>
    
    
</body>
</html>