body > div{
    display: flex;
}


#main-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    max-width: 500px;
    
}
#main{
    display: flex;
    height: 400px;
    background-color: #737373;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
}
#featured{
    padding-top: 1%;
    color: white;
    height: 300px;
}

#best-sellers{
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
    padding-bottom: 1%;
}

#tools{
    display: flex;
    justify-content: center;
    gap: 7%;
}

.a{
    background-color: #404040;
}

.b{
    color: antiquewhite;
    background-color: #737373;
}

.tool-logo{
    max-width: 100px;
    max-height: 100px;
}

@media (max-width: 600px) {
    #main{
        display: block;
    }
    #main-img{
        max-height: 180px;
        padding-top: 5%;
    }
}