#nav > p{
    color: white;
}
#nav{
    display: flex;
    flex: 100%;
    background-color: black;
    justify-content: space-around;
    padding-top: 1%;
    border: 5px solid black;
    color: azure;
}
#nav-options{
    display: flex;
    gap: 20px;
}
#footer{
    justify-content: center;
    gap: 5%;
    padding-top: 2%;
    display: flex;
}
#filler{
    flex-direction: column;
    min-height: 1px;
    display: flex;
}
#footer, #filler{
    color: antiquewhite;
    background-color: #737373;
}
a{
    color: blue;
}