.dropdown{
    padding-left: 5%;
    padding-top: 5%;
}
.product{
    display: flex;
    max-width: 60%;
    margin-left: 10%;
    margin-top: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 5%;
    margin-bottom: 3%;
    border: 5px solid grey
}
.picture{
    width: 33%;
}
.info{
    width: 40%;
}

.product_img{
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {
    .product{
        max-width: 90%;
    }
}