{% extends 'nav_ext.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>

<body>
    <div class="login">
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="login">
        </form>

        <h1>dont have an account?</h1>
        <a href="{% url 'users_app:sign_up' %}"><h2>create one!</h2></a>
    </div>
</body>
</html>
{% endblock content %}