{% extends 'nav_ext.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User info</title>
</head>
<body>
    <h1>welcome {{ request.user }}!</h1>
   
   <h1>My cart</h1>
   {% for item in list %}
    <div class="product">
        <div class="picture">
            <img src="" alt="picture">
        </div>
        <div class="info">
            <h3>Title</h3>
            <p>Autor</p>
            <h4>Precio</h4>
        </div>
    </div>
    {% empty %}
    <h3>Sin items en el carrito</h3>
    {% endfor %}


   
</body>
</html>
{% endblock content %}