body > div{
    display: flex;
}
#nav{
    display: flex;
    flex: 100%;
    background-color: #ffa31a;
    justify-content: space-around;
    padding-top: 1%;
    border: 5px solid black;
}

#nav-options{
    display: flex;
    gap: 5%;
    
}

#main-img{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}
#main{
    display: flex;
    height: 400px;
    background-color: #737373;
    padding-left: 2%;
    padding-top: 2%;
    width: 100%;
}
#featured{
    padding-top: 1%;
    color: white;
    height: 300px;
}

#best-sellers{
    display: flex;
    justify-content: space-around;
}
h2{
    text-align: center;
    padding-bottom: 1%;
}

#footer{
    justify-content: center;
    gap: 3%;
    
}
#tools{
    display: flex;
    justify-content: center;
    gap: 7%;
}

p{
    color: black;
}
#filler{
    flex-direction: column;
    min-height: 1px;
}
.a{
    background-color: #404040;
}

.b{
    color: antiquewhite;
    background-color: #737373;
}

.tool-logo{
    max-width: 100px;
    max-height: 100px;
}
